.footer {
  text-align: center;
  padding: 30px 0;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0%;
  color: #ccc;
  margin: 0;
  white-space: nowrap;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 1;
  }
}
