html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: black;
  color: white;
}

.page {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 320px) {
  .page {
    padding: 0 12px;
  }
}
