.places {
  padding: 80px 148px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .places {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 80px 60px;
  }
}

@media screen and (max-width: 900px) {
  .places {
    padding: 70px 50px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 60px 40px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 40px 16px;
  }
}
