@import url("../vendor/normalize.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: black;
  color: white;
}
