.page {
  background-color: black;
}

.header__logo {
  align-items: center;
  width: 254.84px;
  height: 68.94px;
  margin: 34px auto auto 513px;
}

/* __title */

position: absolute;
width: 720px;
height: 200px;
left: 280px;
top: 194px;

font-family: "Inter";
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
/* o 104% */
text-align: center;

color: #ffffff;

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-4.1/woff-hinted/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-4.1/woff-hinted/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}
