* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
}

.page {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 30px 0;
  text-align: center;
}

.header__logo {
  max-width: 254.84px;
  height: auto;
}

.lead {
  text-align: center;
  padding: 20px 0 40px;
}

.lead__title {
  font-weight: 900;
  font-size: 96px; /* 96px */
  line-height: 1.04;
  margin: 0 auto 20px;
  max-width: 720px;
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px; /* 24px */
  line-height: 1.2;
  margin: 0 auto 30px;
  max-width: 720px;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.intro {
  max-width: 830px;
  margin: 0 auto 60px;
  text-align: left;
  padding: 0 20px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin-bottom: 24px;
}

.intro__quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  font-style: italic;
  margin: 0 0 16px 0;
}

.intro__author {
  font-weight: 400;
  font-size: 24;
  line-height: 1.2;
  margin: 0 0 24px 0;
  text-align: right;
}

.intro__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}

.footer {
  text-align: center;
  padding: 20px 0 30px;
}

.footer__copyright {
  font-size: 14px;
  color: #ccc;
  margin: 0;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 75px;
  }

  .lead__subtitle {
    font-size: 30px;
  }

  .intro__title {
    font-size: 45px;
  }

  .intro__quote,
  .intro__author {
    font-size: 24px;
  }

  .intro__description {
    font-size: 16px;
  }

  .lead__image {
    max-width: 768px;
  }

  .intro {
    padding: 0 15px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 0 12px;
  }

  .lead__title {
    font-size: 40px;
  }

  .lead__subtitle {
    font-size: 16px;
  }

  .intro__title {
    font-size: 32px;
  }

  .intro__quote,
  .intro__author {
    font-size: 24px;
  }

  .intro__description {
    font-size: 16px;
  }

  .header {
    padding: 20px 0;
  }

  .header__logo {
    max-width: 188px;
  }

  .lead__image {
    max-width: 100%;
  }

  .intro {
    padding: 0 10px;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-4.1/woff-hinted/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-4.1/woff-hinted/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-4.1/woff-hinted/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
